body {
	background-image: url("../img/woody/desk.jpg")
}

/** Tables **/
table {
	margin-bottom: 0px;	/* 10px; iura */
}
table tr td {
	padding: 2px;	/* 6px; iura */
}
.tbl1 th {
	border: 0;
	font-size: 80%;
	padding: 0px 4px;
	white-space: nowrap;
}
.tbl1 td {
	border: 0;
	padding: 0 1px;
}
.tbl1 tr:nth-child(even) {
	background: transparent;
}
.tbl1 tr:nth-child(odd) {
	background: rgba(250,250,250,0.6);
}

form div {
	clear: none;	/*both; iura */
	margin-bottom: 0em;	/* 1em; iura */
	padding: .0em;	/* .5em; iura */
}
form div.submit {
	border: 0;
	clear: none;	/*both; iura */
	margin-top: 0px;	/* 10px; iura */
}
label {
	display: block;
	font-size: 80%;	/* 110%; iura */
	margin-bottom:0px;	/* 3px; iura */
}
input, textarea {
	clear: both;
	font-size: 105%;	/* 140%; iura */
}
select {
	clear: both;
	font-size: 105%;
	vertical-align: text-bottom;
}
input[type=checkbox] {
	float: left;
	width: 40px;
}
#content{
	background: #ccc;
	background-image: url("../img/woody/wood.jpg")
}
div.headermenu {
	float: right;
}
div.headermenu li {
	float: left;
}
div.headeruser {
	float: left;
}

