/** Tables **/
table {
	margin-bottom: 0px;	/* 10px; iura */
}
table tr td {
	padding: 2px;	/* 6px; iura */
}
form div {
	clear: none;	/*both; iura */
	margin-bottom: 0em;	/* 1em; iura */
	padding: .0em;	/* .5em; iura */
}
form div.submit {
	border: 0;
	clear: none;	/*both; iura */
	margin-top: 0px;	/* 10px; iura */
}
label {
	display: block;
	font-size: 80%;	/* 110%; iura */
	margin-bottom:0px;	/* 3px; iura */
}
input, textarea {
	clear: both;
	font-size: 105%;	/* 140%; iura */
}
input[type=checkbox] {
	clear: both;
	float: right;
}

